<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
    {% include 'header.html' %}
    Wendy Ho '21 COS
    <br>
    Zoe Kahana '21 COS
    <br>
    Hannah Smalley '21 SPO
    <br>
    <br>
    Many thanks to Mr. Devin Livi and the Princeton Facilities Operations team for their help!
    <br>
    <br>
    Tree locations from Princeton Facilities Operations team.
    <br>
    <br>
    Tree photos and descriptions from Wikipedia.
    {% include 'footer.html' %}
  </body>
</html>