<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    {% include 'header.html' %}
    <table>
    {% for first_char in species: %}
        <tr>
          <td align="left"><b>{{first_char}}</b></td>
          <td align="left"></td>
        </tr>
        {% for spec_info in species[first_char]: %}
        <tr>
          <td align="left">{{spec_info.getImg()}}</td>
          <td align="left">{{spec_info.getCommonName()}}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
    {% include 'footer.html' %}
  </body>
</html>