<!DOCTYPE html>

<!-- Code based on various pages on Google Maps Javascript API documentation -->

<html>
  <head>
    <title>TigerLily</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
      {% include 'header.html' %}
    <br>
    <a href="catalog">Catalog</a>
    <br>
    <form action="index" method="get">
      <table>
        <tr>
          <td align="left">
            FILTER BY:
          </td>
          <td align="left">
            SPECIES
          </td>
          <td align="left">
            STATUS
          </td>
          <td align="left">
            SEASONALITY
          </td>
          <td align="left">
              <input type="submit" name="submit_button" value="Clear Filter">
          </td>
        </tr>
        <tr>
          <td align="left">
            Show only:
          </td>
          <td align="left">
            <select multiple name="species">
            {% for first_char in all_species: %}
              {% for species_info in all_species[first_char]: %}
                <option value="{{species_info.getCommonName()}}">{{species_info.getCommonName()}}</option>
              {% endfor %}
            {% endfor %}
            </select>
          </td>
          <td align="left">
            <select multiple name="status">
            {% for status in status_vals: %}
              <option value="{{status}}">{{status}}</option>
            {% endfor %}
            </select>
          </td>
          <td align="left">
            <select multiple name="dec_or_evg">
            {% for dec_or_evg in dec_or_evg_vals: %}
              <option value="{{dec_or_evg}}">{{dec_or_evg}}</option>
            {% endfor %}
            </select>
          </td>
          <td align="left">
            <input type="submit" name="submit_button" value="Apply Filter">
          </td>
        </tr>
      </table>
    </form>
    <br>
    <div id="map"></div>
    <!-- {% include 'map.html' %} -->
    <!-- <script type="text/javascript"
         src="{{ url_for('static', filename='map.js') }}"></script> -->
    <script nonce="{{ csp_nonce() }}">
      const trackLocation = ({ onSuccess, onError = () => { } }) => {
    if ('geolocation' in navigator === false) {
      console.log('Geolocation is not supported by your browser. Check your settings or try a different browser')
      return onError(new Error('Geolocation is not supported by your browser.'));
    }
  
    // Use watchPosition for live updates
    return navigator.geolocation.watchPosition(onSuccess, onError);
};

const addMarkers = () => {
    // Get map bounds
    bounds = map.getBounds()
    bounds = bounds.toJSON()


    // Send AJAX request to server
    // (server updates plants array with plants in range)

    // place plants 
    var infowindow = new google.maps.InfoWindow();
    var contentString;
    for (var i = 0; i < plants.length; i++) {
        // console.log(plants[i])
        var lat = parseFloat(plants[i].lat);
        // console.log("lat: ", lat)
        // console.log("lng: ", lng)
        var lng = parseFloat(plants[i].lng);
        var title = plants[i].title;
        var titleURL = encodeURIComponent(title.trim());
        // console.log("title: " + title)
        // console.log(i, lat, lng);
        // console.log(titleURL)
        // console.log(plants[i].title)

        var marker = new google.maps.Marker({
            map: map,
            position: {
                lat: lat,
                lng: lng
            },
            title: title,
            clickable: true
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {

                contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">'+
                plants[i].title+
                '</h1>'+
                '<div id="bodyContent">'+
                '<p><a href=plantdetails?common_name='+
                encodeURIComponent(plants[i].title.trim())+
                '>'+
                'Click here for more details</a></p>'+
                '</div>'+
                '</div>';
            
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            }
        })(marker, i));
}
}
  
function initMap() {
    // console.log('{{plants | safe}}')
    plants = '{{plants | safe}}'
    plants = JSON.parse(plants)

    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.3471, lng: -74.6566},
        zoom: 17
    });
    locationMarker = new google.maps.Marker({
        map: map,
        icon: {
        //   url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        url: "/static/my_location.svg"
        }
    });

    // addMarkers()
  
      // Call trackLocation
      // From https://medium.com/risan/track-users-location-and-display-it-on-google-maps-41d1f850786e
    trackLocation({
        onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
            locationMarker.setPosition({ lat, lng });
            map.panTo({ lat, lng });
        },
        onError: err =>
            alert(`Error: Failed to obtain location`)
    });

    google.maps.event.addListenerOnce(map, "bounds_changed", function(){
        // addMarkers();
        google.maps.event.addListener(map, "idle", addMarkers);
    });

}
    </script>
    <script nonce="{{ csp_nonce() }}" async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgPsCmJi55tXonvondJH9BCh7AOvDg3-8&callback=initMap">
    </script>
  {% include 'footer.html' %}  
</body>
</html>