<!DOCTYPE html>
<html>
  <head>
    <title>Plant Details</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
   {% include 'header.html' %}
   <br> 
   <br>
   <h2>{{common_name}}</h2>
    <br>
    <br>
    <img src="/images/{{species_info.getImg()}}" alt="test" width = "600">
    <br>
    <b>Latin Name:</b> {{species_info.getLatinName()}}
    <br>
    <b>Type of Tree:</b>{{species_info.getDecOrEvg()}}
    <br>
    <b>Description:</b>{{species_info.getBlurb()}}
    <br>
    <br>
   {% include 'footer.html' %}
  </body>
</html>